---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '7'
      Key:
      - APPLICATION_API_KEY:1675868715
      Digest:
      - boYGiYgmoBKsBKR18fVyDYZmcLxDj86/Gq49x6j/IhQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63e3ba30a18c04007d304d39
    body:
      encoding: UTF-8
      string: |-
        {
            "workflows": [
                {
                    "code": 1,
                    "utility_id": 1,
                    "name": "Cambio de Titularidad",
                    "header_keys": { "key": "value" }
                },
                {
                    "code": 2,
                    "utility_id": 1,
                    "name": "Baja de Servicio",
                    "header_keys": { "key": "value" }
                },
                {
                    "code": 3,
                    "utility_id": 1,
                    "name": "Alta de Servicio",
                    "header_keys": { "key": "value" }
                }
            ]
        }
  recorded_at: Wed, 08 Feb 2023 15:05:20 GMT
recorded_with: VCR 4.0.0
