---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses?user_external_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '10'
      Key:
      - APPLICATION_API_KEY:1676320062
      Digest:
      - QOssMARywGL5ZFceBalXsfHhaSFYWjt/V/RvpUyM+44=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63ea9d3fc21cd1007ef01d47
    body:
      encoding: UTF-8
      string: |-
        {
            "workflow_responses": [
                {
                    "id": 1,
                    "workflow_code": 1,
                    "state": "in_progress",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Cambio Titularidad"
                },
                {
                    "id": 2,
                    "workflow_code": 44,
                    "state": "in_progress",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Baja de servicio"
                },
                {
                    "id": 3,
                    "workflow_code": 1,
                    "state": "in_progress",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Alta de servicio"
                }
            ]
        }
  recorded_at: Mon, 13 Feb 2023 20:27:43 GMT
recorded_with: VCR 4.0.0
