---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses?consumer_user_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '3'
      Key:
      - APPLICATION_API_KEY:1685634779
      Digest:
      - fq7JhORgFzebd21wf/b+VJE5kJEjWggUEkA9Bbj8d0Y=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 6478bee774f2d800775172d0
      Akamai-Grn:
      - 0.0895c017.1685634791.29c874c2
    body:
      encoding: UTF-8
      string: |-
        {
            "workflow_responses": [
                {
                    "id": 1,
                    "workflow_code": 1,
                    "status": "in_progress",
                    "status_label": "En proceso",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Cambio Titularidad",
                    "cancellable": false,
                    "brief_context": { "external_id": "12345" }
                },
                {
                    "id": 2,
                    "workflow_code": 44,
                    "status": "in_progress",
                    "status_label": "En proceso",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Baja de servicio",
                    "cancellable": false,
                    "brief_context": {}

                },
                {
                    "id": 3,
                    "workflow_code": 1,
                    "status": "in_progress",
                    "status_label": "En proceso",
                    "started_at": "2019-03-29T14:20:55.000-03:00",
                    "workflow_name": "Alta de servicio",
                    "cancellable": true,
                    "brief_context": {}
                }
            ]
        }
  recorded_at: Thu, 01 Jun 2023 15:53:11 GMT
recorded_with: VCR 4.0.0
