---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses?user_external_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '5'
      Key:
      - APPLICATION_API_KEY:1677264271
      Digest:
      - kK8Fomswaa2RQ01t/c7NcectUZN2Avm5phF9rg/vtJs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63f9059054cf03007d576c3c
    body:
      encoding: UTF-8
      string: "{\n    \"workflow_responses\": [\n        {\n            \"id\": 1,\n
        \           \"workflow_code\": 1,\n            \"status\": \"in_progress\",\n
        \           \"started_at\": \"2019-03-29T14:20:55.000-03:00\",\n            \"workflow_name\":
        \"Cambio Titularidad\",\n            \"cancellable\": false\n        },\n
        \       {\n            \"id\": 2,\n            \"workflow_code\": 44,\n            \"status\":
        \"in_progress\",\n            \"started_at\": \"2019-03-29T14:20:55.000-03:00\",\n
        \           \"workflow_name\": \"Baja de servicio\",\n            \"cancellable\":
        false\n        },\n        {\n            \"id\": 3,\n            \"workflow_code\":
        1,\n            \"status\": \"in_progress\",\n            \"started_at\":
        \"2019-03-29T14:20:55.000-03:00\",\n            \"workflow_name\": \"Alta
        de servicio\",\n            \"cancellable\": true                    \n        }\n
        \   ]\n}"
  recorded_at: Fri, 24 Feb 2023 18:44:32 GMT
recorded_with: VCR 4.0.0
