---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '8'
      Key:
      - APPLICATION_API_KEY:1676034102
      Digest:
      - IJgQkwfHrqh9Jk/Bea/ZZuB/VR2smiBfuXlgZI1Tq54=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63e6403700888d008ad1cfa3
    body:
      encoding: UTF-8
      string: |-
        {
            "workflows": [
                {
                    "code": 1,
                    "utility_id": 1,
                    "name": "Cambio de Titularidad",
                    "header_keys": { "key": "value" }
                },
                {
                    "code": 2,
                    "utility_id": 1,
                    "name": "Baja de Servicio",
                    "header_keys": { "key": "value" }
                },
                {
                    "code": 3,
                    "utility_id": 1,
                    "name": "Alta de Servicio",
                    "header_keys": { "key": "value" }
                }
            ]
        }
  recorded_at: Fri, 10 Feb 2023 13:01:43 GMT
recorded_with: VCR 4.0.0
