---
http_interactions:
- request:
    method: get
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '4'
      Key:
      - APPLICATION_API_KEY:1677264272
      Digest:
      - ZNt3bRb97+VqL4qR7OtqYjBFDwpJDPqRp6PYsYSgHCQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      X-Apiary-Transaction-Id:
      - 63f9059154cf03007d576c45
    body:
      encoding: UTF-8
      string: "{\n    \"id\": 1,\n    \"workflow_code\": 1,\n    \"status\": \"in_progress\",\n
        \   \"started_at\": \"2019-03-29T14:20:55.000-03:00\",\n    \"workflow_name\":
        \"Cambio Titularidad\",            \n    \"context\": { \"key\": \"value\"
        },\n    \"current_input_values\": {},\n    \"step_responses_count\": 3,\n
        \   \"total_step_responses_count\": 6,\n    \"cancellable\": false,            \n
        \   \"current_step\": {\n        \"code\": \"initial_step_w_1\",\n        \"name\":
        \"Ingreso de NIS\",\n        \"form\": {\n            \"fields\": [\n                {\n
        \                   \"field_options\": []\n                }\n            ]\n
        \       },\n        \"can_edit\": true,\n        \"is_last_step_response\":
        false,\n        \"can_return\": false,\n        \"checkpoint\": true,\n        \"is_final\":
        false\n    }\n}"
  recorded_at: Fri, 24 Feb 2023 18:44:33 GMT
recorded_with: VCR 4.0.0
