---
http_interactions:
- request:
    method: delete
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Utility-Id:
      - '2'
      Key:
      - APPLICATION_API_KEY:1676643267
      Digest:
      - tHN3OT21kEGXkTcwlaN6EkwDqGjZlS3aeNBVHb4kdFY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63ef8bc41dd04a008b541bb3
    body:
      encoding: UTF-8
      string: "{\n    \"id\": 1,\n    \"workflow_code\": 1,\n    \"state\": \"cancelled\",\n
        \   \"context\": { \"key\": \"value\" },\n    \"current_input_values\": {},\n
        \   \"step_responses_count\": 4,\n    \"current_step\": {\n        \"code\":
        \"cancelled_step_w_1\",\n        \"form\": null,\n        \"can_cancel\":
        false,\n        \"can_edit\": true,\n        \"is_last_step_response\": false,\n
        \       \"can_return\": false,\n        \"is_final\": true,\n        \"checkpoint\":
        true,\n        \"name\": \"Trámite Cancelado\"\n    }\n}      "
  recorded_at: Fri, 17 Feb 2023 14:14:28 GMT
recorded_with: VCR 4.0.0
