---
http_interactions:
- request:
    method: post
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses
    body:
      encoding: UTF-8
      string: workflow_code=1&input_values%5Bkey%5D=value
    headers:
      Utility-Id:
      - '6'
      Key:
      - APPLICATION_API_KEY:1676469530
      Digest:
      - hkJIDJ8b65Nm1iVz8ZzN9PiSQvrv7DQOuwFKtu8P650=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63ece51a00888d008adfbdaa
    body:
      encoding: UTF-8
      string: |-
        {
            "id": 1,
            "workflow_code": 1,
            "state": "in_progress",
            "context": { "key": "value" },
            "current_input_values": {},
            "step_responses_count": 0,
            "total_step_responses_count": 6,
            "current_step": {
                "code": "second_step_w_1",
                "name": "Ingreso de Nonbre",
                "form": {
                    "fields": [
                        {
                            "field_options": []
                        }
                    ]
                },
                "can_cancel": true,
                "can_edit": true,
                "is_last_step_response": false,
                "can_return": false,
                "checkpoint": true,
                "is_final": false
            }
        }
  recorded_at: Wed, 15 Feb 2023 13:58:50 GMT
recorded_with: VCR 4.0.0
