---
http_interactions:
- request:
    method: post
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses
    body:
      encoding: UTF-8
      string: '{"workflow_code":1,"consumer_user_id":14,"consumer_account_id":14,"input_values":{"key":"value"}}'
    headers:
      Utility-Id:
      - '5'
      Content-Type:
      - application/json
      Key:
      - APPLICATION_API_KEY:1685643156
      Digest:
      - m7xQT4h4o3TfI2R7qAg8Cp49tHr03rPwYHChw6E/xms=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 6478df97da19320085d3a8ce
      Akamai-Grn:
      - 0.0895c017.1685643158.2e3b98c8
    body:
      encoding: UTF-8
      string: "{\n    \"id\": 1,\n    \"workflow_code\": 1,\n    \"status\": \"in_progress\",\n
        \   \"status_label\": \"En proceso\",\n    \"started_at\": \"2019-03-29T14:20:55.000-03:00\",\n
        \   \"workflow_name\": \"Cambio Titularidad\",\n    \"context\": { \"key\":
        \"value\" },\n    \"current_input_values\": {},\n    \"step_responses_count\":
        0,\n    \"total_step_responses_count\": 6,\n    \"cancellable\": true,            \n
        \   \"current_step\": {\n        \"code\": \"second_step_w_1\",\n        \"name\":
        \"Ingreso de Nonbre\",\n        \"form\": {\n            \"fields\": [\n                {\n
        \                   \"field_options\": []\n                }\n            ]\n
        \       },\n        \"can_edit\": true,\n        \"is_last_step_response\":
        false,\n        \"can_return\": false,\n        \"checkpoint\": true,\n        \"is_final\":
        false\n    }\n}"
  recorded_at: Thu, 01 Jun 2023 18:12:37 GMT
recorded_with: VCR 4.0.0
