---
http_interactions:
- request:
    method: post
    uri: https://private-720a83-workflowsapi1.apiary-mock.com/api/v1/workflow_responses
    body:
      encoding: UTF-8
      string: '{"workflow_code":1,"user_external_id":11,"account_external_id":22,"input_values":{"key":"value"}}'
    headers:
      Utility-Id:
      - '1'
      Content-Type:
      - application/json
      Key:
      - APPLICATION_API_KEY:1676667914
      Digest:
      - mbuKJwiM3s2Ut+qYinCkLwguukvs+6FAc0k/qW6PZGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 63efec0bab66840077056dfd
    body:
      encoding: UTF-8
      string: |-
        {
            "id": 1,
            "workflow_code": 1,
            "state": "in_progress",
            "context": { "key": "value" },
            "current_input_values": {},
            "step_responses_count": 0,
            "total_step_responses_count": 6,
            "current_step": {
                "code": "second_step_w_1",
                "name": "Ingreso de Nonbre",
                "form": {
                    "fields": [
                        {
                            "field_options": []
                        }
                    ]
                },
                "can_cancel": true,
                "can_edit": true,
                "is_last_step_response": false,
                "can_return": false,
                "checkpoint": true,
                "is_final": false
            }
        }
  recorded_at: Fri, 17 Feb 2023 21:05:15 GMT
recorded_with: VCR 4.0.0
